


body{
	background-color: #444242;
}
.slider img{
	float: left;
	width: 100%;
}

.container{
	    margin-top: 60px;
    text-align: center;
}
.col-lg-12 {
	height: 400px;
	overflow: hidden;
}

.slide{
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background-image: url(img/Untitled.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.slide{
   position: absolute;
   top: 50px;
   left: 50px;
}
.bolitas-radio{
	text-align: center;
    z-index: 9999;
    border-radius: 62%;
    box-shadow: 1px 1px 4px #f6f1f1;
    opacity: .4;
    float: left;
    background: black;
    position: absolute;
    top: 370px;
    width: 100%;
}
.bolitasRadio{
    text-align: center;
}
.carrusel .imagen{
	    width: 1125px;
    height: 400px;
   margin: 0px;
    float: left;
    display: block;
}
.carrusel{
	position: relative;
	    width: 6000px;
    overflow: hidden;
}

.imagenPrev{
	margin-left: -1125px;
	width: 1125px;
    height: 400px;
   margin: 0px;
    float: left;
    display: block;
}
.prew{
	
}
.forw{
    right: 0px;
}
.flecha{
	width: 50px;
    height: 50px;
    background: aliceblue;
    position: absolute;
    top: 141px;
    font-size: 38px;
    border-radius: 50%;
    opacity: 0.4;
    z-index: 9999;
}
.flecha:hover{
	cursor: pointer;
}


@media (max-width: 300px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 300px) {
  .carosel-item {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .carosel-item {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .carosel-item {
    width: 25%;
  }
}
.carosel {
  position: relative;
  /*background-color: #000;*/
}
.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.carosel-item {
  display: inline-block;
  width: 100%;
  height: 400px;
}

.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
}
.carosel-control-left {
  left: 15px;
}
.carosel-control-right {
  right: 15px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.glyphicon {
    position: absolute !important;
    top: 95px !important;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f7f3f3;
}

.glyphicon-chevron-right {
  right: 51px !important;
}


.slider-prev-next-control {
    width: 100%;
    background: aliceblue;
    margin-top: 5px;
}